<html>
  <body>

    <h1>Restauração de retratos</h1>

    <h2>Upload do retrato</h2>

    <input type="file" id="file-input">
    <p id="status">Please select a file</p>
    <img style="border:1px solid gray;width:300px;" id="preview" src="/static/media/default.png">

    <form method="POST" action="/submit-form/">
    <input type="hidden" id="avatar-url" name="avatar-url" value="/static/media/default.png">

    <input type="submit" value="Iniciar restauração">
    </form>

    <script type="text/javascript">

    /*
       Function called when file input updated. If there is a file selected, then
       start upload procedure by asking for a signed request from the app.
    */
    function initUpload(){
      const files = document.getElementById('file-input').files;
      const file = files[0];
      if(!file){
        return alert('No file selected.');
      }
      file.save('teste.jpg')
      document.getElementById('avatar-url').value = 'teste.jpg'
    }

    /*
       Bind listeners when the page loads.
    */
    (() => {
      document.getElementById('file-input').onchange = initUpload;
    })();


    </script>
  </body>
</html>
