<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <title>Restauração de retratos</title>
  </head>

  <body>
    <h1>Restauração de retratos</h1>
    <b>Restauração finalizada!</b><br><br>
    <div>
      <div>
        <img src="{{url_for('send_image', filename=image_name)}}", width="400", style="float: left;" />
      </div>
      <div>
        <img src="{{url_for('send_image', filename=image_name)}}", width="400", style="float: left;" />
      </div>
    </div>
  </body>

</html>
