<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <title>Restauração de retratos</title>
  </head>

  <body>

    <h1>Restauração de retratos</h1>

    <b>Restauração finalizada!</b><br><br>

    <div>

      <div>
        <img src="{{url_for('send_image', filename=image_name_orig)}}", height="450", style="float: left;" />
      </div>

      <div>
        <img src="{{url_for('send_image', filename=image_name_rest)}}", height="450", style="float: left;" />
      </div>
    </div>

    <button onclick="goBack()">Nova restauração</button>

  </body>

  <script>
    function goBack() {
      window.history.back();
    }
  </script>

</html>
